#form1{
	width:80%;
	
	box-sizing:border-box;
	background:rgba(255,255,255,0.7);
	
	border-radius:6px;
	align-items:center;
	justify-content:space-between;
	background:#feddc9;/*#BDBDBD;*/
	padding-bottom:10px;
	
	
	
}
.input{
	background-color:#EFF2FB;
	height:40px;
	width:30%;
	border:none;
	outline:none;
	border-radius:10px;
	padding: 0 0 0 45px;
	
	
}
.btn1{
	position:relative;
	height:30px;
	width:30%;
	background-color:orange;
	color:white;
	border-radius:20px;
	border:none;
	cursor:pointer;
	transition-duration:0.4s;
	
}
#submitbtn{
	position:relative;
	height:30px;
	width:30%;
	background-color:orange;
	color:white;
	border-radius:20px;
	border:none;
	cursor:pointer;
	transition-duration:0.4s;
}